
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Création d'une classe CSS avec le sélecteur . */
p.info {
    background-color: rgba(201, 52, 214, 0.631);
}

.premier {
    font-size: 30px;
}

#font {
    font-family: Serif;
}

h2 {
    font-size: 18px;
}

/* Sélecteur déscendant 
   Ici on cible tous les enfants li de la balise ul */
ul > li{
    list-style: square;
    color: blue;
    background-color: #FF4040;
    margin: 14px;
}

@font-face{
    font-family: 'police';
    src: url('../fonts/Game\ On_PersonalUseOnly.ttf')
}

body{
    font-family: 'police';
    background: linear-gradient(to bottom right, blue, white);
    background-size: cover;
    background-repeat: no-repeat;
}

p.rouge {
    color: red;
}

.vert {

}

.noir {

}
div.code {
    font-family: Courier New;
}

div.exemple {
    font-family: Courier;
}
ol > li {
    background-color: yellow;
}


.container{
    display: block;
    margin: 65px;
}

.conteneur{
    display: flex;
    justify-content: space-between;
}

.enfant{
    flex-basis:200px;
    background-color: red;
}

@media (max-width: 800px){
    .conteneur{
        flex-direction: column;
        justify-content: space-between;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.inner-grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
}
/* SI ON REDUIT L'ECRAN */

@media screen and (max-width: 800px) {
    .inner-grid {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .inner-grid {
        flex: 100%;
        max-width: 100%;
    }
    img{
        max-width: 100%;
    }
}